@import '../../styles/variables';

.card {
  display: flex;
  justify-content: center;
  align-self: stretch;
  flex-wrap: wrap;

  max-height: 50vh;
  overflow-y: scroll;

  padding: 2rem 1rem 6rem 1rem;

  background-color: $background-bright;
  color: $font-color-dark;

  border-radius: 0.5rem 0.5rem 0 0;

  animation-name: slide-in;
  animation-duration: 1s;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(200%);
  }

  to {
    transform: translateY(0);
  }
}
