@import '../../styles/variables';

.game-card {
  display: block;

  width: 100%;
  min-height: 25%;

  margin: 1rem;

  font-family: $font-text;
  font-weight: 200;
  font-size: 1.5rem;
  color: $accent-color-primary;

  background: $background-gradient;

  border-radius: 0.5rem;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.1s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 transparent;
  }
}

@media screen and (min-width: 768px) {
  .game-card {
    width: 45%;
  }
}
