:root {
  font-family: $font-text, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  color-scheme: normal;
  color: $font-color-white;
  background-image: $background-gradient;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: $font-text;
}

.text-center {
  text-align: center;
}
