@import '../styles/variables';

.charades-rules {
  color: $font-color-dark;

  &__title {
    color: $accent-color-primary;
  }

  &__section {
    padding: 2rem 0;
  }
}

.form {
  padding: 1rem 0;

  &__section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }
}
